# Dependencies that are installed by pip (see install_requires in setup.py)
json_delta>=1.1.3

# Dependencies for testing (see extras_require['test'] in setup.py)
nose==1.3.7
coverage==3.7.1
tornado==4.2.1

# AWS library for DynamoDB (see extras_require['dynamodb'] in setup.py)
boto==2.38.0

# Google Cloud Datastore support
# GCD currently only supported for Python 2.7 - see dev-requirements-27.txt
